# See https://prettier.io/docs/en/ignore.html for more about ignoring files.

# Compiled output
/dist

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
/npm-debug.log*

# Misc
/.angular/cache