@import 'src/variables.scss';

.search-container {
  display: flex;
  width: 100%;

  input {
    flex-grow: 1;
    height: $font-size;
    padding: $padding;
    padding-right: 0;
    font: inherit;
    color: inherit;
    outline: none;
    background-color: white;
    border: $border-size solid $border-color;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  i {
    padding: $padding;
    color: $border-color;
    background-color: white;
    border: $border-size solid $border-color;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
  }
}
