@import 'src/variables.scss';

.search-container {
  input {
    height: 100%;
    border: 1px solid $border-color;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px 10px;
    font: inherit;
    outline: none;
  }

  i {
    height: 100%;
    border: 1px solid $border-color;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
