@import "variables.scss";

.search-container {
  display: flex;

  input {
    flex-grow: 1;
    padding-right: 0;
    background-color: white;
    border: $border-size solid $light-border-color;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: $light-font-color;
  }

  i {
    font-size: 18px;
    padding: $default-padding;
    background-color: white;
    border: $border-size solid $light-border-color;
    border-left: none;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    color: $light-border-color;
    cursor: pointer;
  }
}
