@import 'variables.scss';

h2 {
  text-align: center;
  font-size: 2.25rem;
  line-height: 2rem;
  font-weight: $light-font-weight;
}

.error {
  display: inline-block;
  margin: 0;
  margin-bottom: 10px;
  padding: $default-padding;
  border-radius: $border-radius;
  border: $border-size solid rgb(255, 0, 0, 0.5);
  background-color: rgb(255, 0, 0, 0.25);
}

$gap: 15px;
form {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: $gap;
  row-gap: $gap;

  .sub-grid {
    display: grid;
    grid-template-columns: 100%;
    row-gap: $gap;
    grid-auto-rows: min-content;
  }

  .editor, .buttons {
    grid-column: span 2;
  }

  .summary {
    display: flex;
    flex-direction: column;

    textarea {
      flex-grow: 1;
      resize: none;
    }
  }

  $margin-small: 5px;
  label {
    display: block;
    margin-bottom: $margin-small;
  }

  button {
    margin: 0 $margin-small;
  }

  button:first-child {
    margin-left: 0;
  }
}
