@import 'src/variables.scss';

h2 {
  font-size: 2rem;
  font-weight: $light-font-weight;
}

form {
  .form-group {
    margin: 20px 0;

    label {
      display: block;
      padding-bottom: 5px;
      text-align: left;
      color: $light-font-color;
    }

    input {
      width: 100%;
      box-sizing: border-box;
    }

    button {
      margin: 0 5px;
    }
  }
}
