
<div class="page-container">
  <h2>Create Post</h2>
  <p *ngIf="error" class="error">{{ error }}</p>
  <form [formGroup]="createPostForm">
    <div class="sub-grid">
      <div>
        <label for="title">Title</label>
        <input
          id="title"
          type="text"
          formControlName="title"
        >
      </div>
      <div>
        <label for="image">Image</label>
        <pmw-file-upload id="image" formControlName="image"></pmw-file-upload>
      </div>
    </div>
    <div class="summary">
      <label for="summary">Summary</label>
      <textarea
        id="summary"
        formControlName="summary"
      ></textarea>
    </div>
    <div class="editor">
      <label for="content">Content</label>
      <editor
        id="content"
        [init]="{
          height: 500,
          menubar: false,
          plugins: [
            'advlist autolink lists link image charmap print',
            'preview anchor searchreplace visualblocks code',
            'fullscreen insertdatetime media table paste',
            'help wordcount'
          ],
          toolbar:
            'undo redo | formatselect | bold italic | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | help'
        }"
        formControlName="content"
      ></editor>
    </div>
    <div class="buttons">
      <button (click)="goBack()">
        <i class="fas fa-arrow-left"></i> Cancel
      </button>
      <button class="create-button" type="submit" (click)="createPost()">
        <i class="fas fa-plus"></i> Create
      </button>
    </div>
  </form>
</div>
