@import "variables.scss";

.post-detail {
  text-align: center;

  $margin: 40px;
  .title {
    font-size: 2.25rem;
    font-weight: $light-font-weight;
    color: $font-color;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
  }

  .summary {
    font-size: 1.25rem;
    color: $light-font-color;
    margin-top: 10px;
    margin-bottom: $margin;
  }

  .cover-image {
    max-height: 500px;
    max-width: 100%;
    margin-bottom: $margin;
  }

  .content {
    max-width: $tablet-width;
    text-align: left;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-bottom: $margin;

    $top-margin: 35px;
    $top-font-size: 2rem;
    h1 {
      margin: $top-margin 0;
      font-size: $top-font-size;
      text-align: center;
    }

    h2 {
      margin: ($top-margin - 5px) 0;
      font-size: $top-font-size - 0.2rem;
    }

    h3 {
      margin: ($top-margin - 10px) 0;
      font-size: $top-font-size - 0.4rem;
    }

    h4 {
      margin: ($top-margin - 15px) 0;
      font-size: $top-font-size - 0.6rem;
    }

    h5 {
      margin: ($top-margin - 20px) 0;
      font-size: $top-font-size - 0.8rem;
    }

    h6 {
      margin: ($top-margin - 25px) 0;
      font-size: $top-font-size - 1rem;
    }

    p,
    ul,
    ol {
      margin: 20px 0;
    }

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }
}
