<div class="post-list-page">
  <div class="toolbar">
    <button *ngIf="auth.isAdmin" routerLink="/post/create">Create Post</button>
    <app-search (search)="handleSearch($event)" [placeholder]="'Search posts'"></app-search>
  </div>

  <div class="post-list-container">
    <div class="post-list" *ngIf="posts.length > 0">
      <a
        class="post-list-item"
        *ngFor="let post of posts"
        routerLink="/post/{{ post.title | urlEncode }}"
      >
        <div class="content">
          <h2>{{ post.title }}</h2>
          <p class="summary">{{ post.summary }}</p>
          <p class="date">
            <i class="far fa-calendar-alt"></i> {{ post.publishDate | date }}
          </p>
        </div>
        <div
          class="image"
          [ngStyle]="{ 'background-image': 'url(' + post.image + ')' }"
        ></div>
      </a>
    </div>

    <div class="post-list" *ngIf="posts.length === 0 && retrievedPosts">
      <p>No blog posts found!</p>
    </div>

    <app-social></app-social>
  </div>
</div>
