<div class="page-container">
  <div class="post-list-container">
    <div class="toolbar">
      <pmw-search (search)="handleSearch($event)" [placeholder]="'Search posts'"></pmw-search>
      <button class="create-button" *ngIf="auth.isAdmin" routerLink="/blog/create">
        <i class="fas fa-plus"></i> Create
      </button>
    </div>

    <div class="post-list" *ngIf="posts.length > 0">
      <a
        class="post-list-item"
        *ngFor="let post of posts"
        routerLink="/blog/{{ post.title | urlEncode }}">
        <div class="content">
          <h2>{{ post.title }}</h2>
          <p class="summary">{{ post.summary }}</p>
          <p class="date">
            <i class="far fa-calendar-alt"></i> {{ post.publishDate | date }}
          </p>
        </div>
        <div
          class="image"
          [ngStyle]="{ 'background-image': 'url(' + post.image + ')' }"
        ></div>
      </a>
    </div>

    <div class="post-list" *ngIf="posts.length === 0 && retrievedPosts">
      <p>No blog posts found!</p>
    </div>
  </div>

  <pmw-social></pmw-social>
</div>
