@import "variables.scss";

$margin: 40px;
$margin-small: 25px;
.page-container {
  display: flex;

  pmw-social {
    margin-left: $margin-small;
  }

  .post-list-container {
    flex-grow: 1;

    $margin-tiny: 15px;
    .toolbar {
      margin-bottom: $margin;
      text-align: left;

      .create-button {
        margin-top: $margin-tiny;
      }
    }

    .post-list {
      .post-list-item {
        display: flex;
        justify-content: space-between;
        margin: $margin 0;
        text-align: left;

        .content {
          display: flex;
          align-items: flex-start;
          flex-direction: column;

          h2 {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            margin: 0;
            letter-spacing: -0.5px;
            font-size: 1.4rem;
            color: $font-color;
          }

          p {
            color: $light-font-color;
          }

          .summary {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            margin: $margin-tiny 0;
          }

          .date {
            margin: 0;
            font-size: 0.8rem;
          }
        }
      }

      .post-list-item:first-child {
        margin-top: 0;
      }

      .post-list-item:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.image {
  flex: 0 0 $desktop-width * 0.15;
  margin-left: $margin-small;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: $tablet-width) {
  .post-list-page {
    flex-direction: column;

    pmw-social {
      margin: 0;
      margin-top: $margin;
    }
  }
}

@media screen and (max-width: $phone-width) {
  pmw-social {
    display: none;
  }

  .post-list-item {
    flex-direction: column;

    .image {
      margin: 0;
      margin-top: $margin-small;
    }
  }
}
