@import 'src/variables.scss';

$margin: 40px;
.toolbar {
  display: flex;
  margin: $margin 0;

  button {
    margin-right: 10px;
  }

  app-search {
    flex-grow: 1;
  }
}

.post-list {
  .post-list-item {
    display: flex;
    justify-content: space-between;
    margin: $margin 0;
    cursor: pointer;

    .content {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      h2 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin: 0;
        font-size: 1.4rem;
        letter-spacing: -0.5px;
      }

      p {
        color: $light-font-color;
      }

      .summary {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin: 15px 0;
      }

      .date {
        margin: 0;
        font-size: 0.8rem;
      }
    }

    .img {
      flex-basis: 20%;
      margin-left: 20px;
      border-radius: 5px;
      border: $border-size solid $light-border-color;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
