<div class="site">
  <header>
    <h1>&lt;/{{ title }}&gt;</h1>
    <nav>
      <ul>
        <li>
          <a class="nav-item" routerLink="/home">
            <i class="fas fa-home"></i> Home
          </a>
        </li>
        <li>
          <a class="nav-item" routerLink="/post">
            <i class="fas fa-pencil-alt"></i> Blog
          </a>
        </li>
        <li>
          <a class="nav-item" routerLink="/projects">
            <i class="fas fa-code"></i> Projects
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <p><span class="copyright">&copy; {{ year }} {{ title }}</span></p>
  </footer>
</div>
