@import 'src/variables.scss';

.site {
  margin: 0 auto;
  width: 1120px;
  position: relative;
  min-height: 100vh;

  header {
    background-color: rgb(136, 136, 255);
    text-align: center;
    border-radius: 0 0 10px 10px;

    h1 {
      margin: 0;
      padding: 25px 0;
      letter-spacing: -1.5px;
      font-family: "Lucida Console", Monaco, monospace;
      font-weight: lighter;
      color: white;
    }

    nav {
      ul {
        display: flex;
        border-radius: 0 0 10px 10px;
        background-color: rgb(100, 100, 255);
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style-type: none;

        .nav-item {
          display: block;
          position: relative;
          padding: 10px 15px;
          text-decoration: none;
          color: white;
        }
        .nav-item:hover {
          padding-bottom: 8px;
          border-bottom: 2px solid rgb(255, 255, 255);
        }
        .nav-item.active-link {
          background-color: rgb(136, 136, 255);
        }
      }
    }
  }

  main {
    padding: 0 $content-padding-sides;
    padding-bottom: $footer-height;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;

    $border-size: 1px;
    p {
      margin: 0;
      border-top: $border-size solid $border-color;
      line-height: ($footer-height - $border-size);
    }
  }
}
