.post-list {
  .post-list-item {
    text-align: left;
    margin: 2em 0;
    padding: 0 1.5em 1.5em 1.5em;
    border-bottom: 1px solid rgb(0, 0, 0, 0.4);
    border-radius: 15px;
    transition: 0.3s;

    h2 {
      display: -webkit-box;
      letter-spacing: -0.5px;
      font-size: 1.25em;
      line-height: 1.25em;
      height: 1.25em;
      margin: 0;
      margin-bottom: 0.5em;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    p {
      color: rgb(0, 0, 0, 0.6);
      margin: 0;
      margin-top: 0.5em;
    }

    .summary {
      position: relative;
      line-height: 1.2em;
      height: 3.6em;
      text-align: left;
      margin: 0;
      overflow: hidden;
    }
    .summary::after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70%;
      height: 1.2em;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255, 1) 50%);
    }

    .date {
      font-size: 0.8em;
    }
  }

  .post-list-item:hover {
    padding: 0 1.5em 1em 1.5em;
    margin: 2em 0 2.5em 0;
    border-bottom: 1px solid rgb(0, 0, 0, 1);
  }
}
