@import 'variables.scss';

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    margin-bottom: 25px;

    .patreon {
      width: 9rem;
    }

    .disqus {
      width: 7rem;
    }
  }

  a:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: $tablet-width) {
  .social-container {
    flex-direction: row;
    justify-content: space-evenly;

    a {
      margin-bottom: 0;
    }
  }
}
