/* You can add global styles to this file, and also import other style files */
@import 'src/variables.scss';

* {
  box-sizing: content-box;
}

html, body {
  height: 100%;
  margin: 0;
  color: $font-color;
  background-color: $background-color;
  text-align: center;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  -webkit-font-smoothing: antialiased;
}

a {
  cursor: pointer;
}

button {
  height: $font-size;
  padding: $padding;
  background-color: rgb(255, 255, 255);
  border: $border-size solid $border-color;
  border-radius: 5px;
  font: inherit;
  color: $font-color;
  cursor: pointer;
  outline: none;
}
