/* You can add global styles to this file, and also import other style files */
@import 'src/variables.scss';

@font-face {
  font-family: "VCR OSD Mono";
  src: url($vcr-osd-mono-url) format("woff");
}

* {
  box-sizing: content-box;
  outline: 0;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: $background-color;
  text-align: center;
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $light-font-weight;
}

button {
  height: $font-size;
  padding: $default-padding;
  background-color: white;
  border: $border-size solid $border-color;
  border-radius: 5px;
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  white-space: nowrap;
  cursor: pointer;
}

.create-button {
  background-color: rgb(0, 150, 0);
  color: white;
}

input {
  padding: $default-padding;
  border: $border-size solid $light-border-color;
  border-radius: 5px;
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
}
