$background-color: rgb(240, 240, 240);

$content-padding-sides: 25px;
$footer-height: 70px;

$font-color: rgb(0, 0, 0, 0.8);
$default-font-color: $font-color;
$light-font-color: rgb(0, 0, 0, 0.6);
$border-color: rgb(0, 0, 0, 0.4);
$default-border-color: $border-color;
$light-border-color: rgb(0, 0, 0, 0.2);
