$padding: 8px 10px;
$default-padding: $padding;
$content-padding-sides: 25px;

$footer-height: 70px;

$background-color: rgb(240, 240, 240);
$default-background-color: $background-color;

$s3-url: "https://prestonmontewest.s3.us-east-2.amazonaws.com";
$vcr-osd-mono-url: "#{$s3-url}/fonts/vcr-osd-mono.woff";

$font-size: 16px;
$default-font-size: $font-size;
$font-weight: 400;
$default-font-weight: $font-weight;
$light-font-weight: 300;
$font-family: Arial, Helvetica, sans-serif;
$default-font-family: $font-family;
$font-color: rgb(0, 0, 0, 0.8);
$default-font-color: $font-color;
$light-font-color: rgb(0, 0, 0, 0.6);

$border-size: 1px;
$default-border-size: $border-size;
$border-color: rgb(0, 0, 0, 0.4);
$default-border-color: $border-color;
$light-border-color: rgb(0, 0, 0, 0.2);
