@import 'colors.scss';

$small-padding: 8px 10px;
$large-padding: 10px 15px;
$default-padding: $small-padding;
$content-padding-sides: 25px;

$footer-height: 70px;

$primary-color: $cadet;
$secondary-color: $green-sheen;
$tertiary-color: $aero-blue;
$active-color: $fluorescent-blue;
$background-color: white;

$vcr-osd-mono-url: '/assets/fonts/vcr-osd-mono.ttf';

$font-size: 16px;
$default-font-size: $font-size;
$font-weight: 400;
$default-font-weight: $font-weight;
$light-font-weight: 300;
$font-family: Arial, Helvetica, sans-serif;
$default-font-family: $font-family;
$font-color: $dark-slate-gray;
$dark-font-color: $font-color;
$light-font-color: $cadet;
$default-font-color: $light-font-color;

$border-size: 1px;
$default-border-size: $border-size;
$border-color: $gray;
$light-border-color: $light-gray;
$default-border-color: $light-border-color;
$border-radius: 10px;
$default-border-radius: $border-radius;

$front-z-index: 10;

// Responsive widths
$desktop-width: 1120px;
$tablet-width: $desktop-width * 0.75;
$phone-width: $desktop-width * 0.5;
