@import 'src/variables.scss';

h2 {
  margin: 40px 0;
  font-size: 2rem;
}

.badges {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;

  img {
    animation: fadeIn ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    // Flex basis was not working
    display: inline-block;
    width: 25%;
    cursor: pointer;
  }
  img:nth-child(2) {
    animation-delay: 0.5s;
    opacity: 0;
  }
  img:nth-child(3) {
    animation-delay: 1s;
    opacity: 0;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
